DATABASE_URL="postgresql://postgres:22@localhost:5432/helpdesk"
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
BETTER_AUTH_SECRET=b4d947a8ec395c9f931d80f9d0097b5bedfd09b690b7a0b3a2668c78821f2c49
BETTER_AUTH_URL=http://localhost:4000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password123
